---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Sidebar from '../../components/Sidebar';
import Page from '../../components/Page';
import siteMetadata from '../../data/siteMetadata.js';
import { getTagsList, kebabCase } from '../../utils/content';


const language = 'en';
const tags = await getTagsList(language);
const title = `Tags - ${siteMetadata.title}`;
const pathname = Astro.url.pathname;
---

<BaseLayout title={title} description={siteMetadata.subtitle} language={language}>
  <Sidebar
    client:load
    transition:persist="sidebar"
    siteMetadata={siteMetadata}
    pathname={pathname}
    otherLanguagePath="/tags/ja"
  />
  <Page client:load title="Tags">
    <ul>
      {tags.map(tag => (
        <li>
          <a href={`/tag/${kebabCase(tag.fieldValue)}/`}>
            {tag.fieldValue} ({tag.totalCount})
          </a>
        </li>
      ))}
    </ul>
  </Page>
</BaseLayout>
